env/
.coverage
htmlcov/
.ropeproject
.cache
*.sqlite3
*.sqlite3.*
*.db
*.sql
*.py[cod]
*.swp
*.aux
*.log
*.toc
*.mo
*~
.ropeproject
__pycache__/
_static/
static.dist/
.idea
.secret
media/
*.pdf
*.csv
