{% load staticfiles %}
{% load solo_tags %}
{% load i18n %}
{% load compress %}
{% get_solo 'core.EventSettings' as settings %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>postix {% block title %}{% endblock %}</title>

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static "shared/fonts/fonts.css" %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static "backoffice/scss/postix.scss" %}">
    {% endcompress %}
    {% block stylesheets %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static "shared/img/favicon.png" %}">

</head>
<body class="">

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url "backoffice:main" %}">
                <img src="{% static "shared/img/icon_white.svg" %}">
                {% trans "Backoffice" %}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          {% if user.is_authenticated %}
			  <ul class="nav navbar-nav">
                  <li><a href="{% url "backoffice:new-session" %}">{% trans "New session" %}</a></li>
                  <li><a href="{% url "backoffice:session-list" %}">{% trans "Sessions" %}</a></li>
                  <li><a href="{% url "backoffice:report-list" %}">{% trans "Reports" %}</a></li>
			  </ul>
			  <ul class="nav navbar-nav navbar-right">
                  <li><a href="{% url "backoffice:create-user" %}"><span class="glyphicon glyphicon-plus-sign"></span> {% trans "User" %}</a></li>
                  <li><a href="{% url "backoffice:user-list" %}"><span class="glyphicon glyphicon-list"></span> {% trans "Users" %}</a></li>
                  <li><a href="{% url "backoffice:logout" %}"><span class="glyphicon glyphicon-log-out"></span> {{ user }}</a></li>

                  {% if user.is_superuser %}
                  <li><a href="{% url "backoffice:wizard-users" %}">{% trans "Rights" %}</a></li>
                    {% if not settings.initialized %}
                        <li><a href="{% url "backoffice:wizard-settings" %}"><span class="text-danger glyphicon glyphicon-alert"></span></a></li>
                    {% else %}
                        <li><a href="{% url "backoffice:wizard-settings" %}"><span class="glyphicon glyphicon-wrench"></span></a></li>
                    {% endif %}
                  {% endif %}

          {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="backoffice-main">
          {% if not settings.initialized %}
            <div class="alert alert-warning">
                {% if user.is_superuser %}
                {% trans "Please initialize this event's settings:" %} <a href="{% url "backoffice:wizard-settings" %}">{% trans "here" %}</a>
                {% else %}
                    {% trans "Please call a superuser to initialize this event's settings." %}
                {% endif %}
            </div>
          {% endif %}

          {% if settings.initialized or user.is_superuser %}
            <h1>{% block headline %}{% endblock %}</h1>
            <div class="backoffice-content">
                {% if check_errors %}
                    <div class="alert alert-warning">
                        <strong>{% trans "We found some settings in your installation that are probably incorrect. We recommend that you check them again :)" %}</strong>
                        <ul>
                            {% for e in check_errors %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <p>
                {% block content %}
                {% endblock %}
                </p>
            </div>
          {% endif %}

        </div>

    </div>


    <script type="text/javascript" src="{% static "shared/js/jquery.min.js" %}"></script>
    {% block scripts %}
    {% endblock %}

</body>
</html>
