{% extends "core/base.html" %}

{% load static %}
{% load solo_tags %}
{% load i18n %}
{% load compress %}
{% get_solo 'core.EventSettings' as settings %}

{% block area_stylesheets %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "backoffice/scss/postix.scss" %}">
    {% endcompress %}
    {% block stylesheets %}
    {% endblock %}
{% endblock %}

{% block area_url %}{% url "backoffice:main" %}{% endblock %}
{% block area %}
    {% trans "Backoffice" %}
{% endblock %}

{% block area_content %}
        <div class="backoffice-main">
          {% if not settings.initialized and not user.is_anonymous %}
            <div class="alert alert-warning">
                {% if user.is_superuser %}
                    {% if request.path != '/backoffice/wizard/settings/' %}<a href="{% url "backoffice:wizard-settings" %}">{% endif %}
                    {% trans "Please initialize the event settings. postix will not be usable otherwise." %}
                    {% if request.path != '/backoffice/wizard/settings/' %}</a>{% endif %}
                {% else %}
                    {% trans "Please call a superuser to initialize this event's settings." %}
                {% endif %}
            </div>
          {% endif %}

          {% if settings.initialized or user.is_superuser or user.is_anonymous %}
            <h1>{% block headline %}{% endblock %}</h1>
            <div class="backoffice-content">
                {% if check_errors %}
                    <div class="alert alert-warning">
                        <strong>{% trans "We found some settings in your installation that are probably incorrect. We recommend that you check them again :)" %}</strong>
                        <ul>
                            {% for e in check_errors %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <p>
                {% block content %}
                {% endblock %}
                </p>
            </div>
          {% endif %}

        </div>
{% endblock %}
{% block area_scripts %}
    {% block scripts %}
    {% endblock %}
{% endblock %}
