{% load i18n %}
{% load static %}

<button id="calculatorTrigger" class="btn btn-outline-info" data-toggle="modal" data-target="#calculator">
    <i class="fa fa-calculator"></i>
</button>

<div id="calculator" class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="column">
                <h4>{% trans "Bills" %}</h4>
                <div><label for="bill-5">5 €</label><input id="bill-5" type="text" /></div>
                <div><label for="bill-10">10 €</label><input id="bill-10" type="text" /></div>
                <div><label for="bill-20">20 €</label><input id="bill-20" type="text" /></div>
                <div><label for="bill-50">50 €</label><input id="bill-50" type="text" /></div>
                <div><label for="bill-100">100 €</label><input id="bill-100" type="text" /></div>
                <div><label for="bill-200">200 €</label><input id="bill-200" type="text" /></div>
                <div><label for="bill-500">500 €</label><input id="bill-500" type="text" /></div>
                <div><label for="bill-other">Other:</label><input id="bill-other" type="text" /></div>
            </div>
            <div class="column">
                <h4>{% trans "Coins" %}</h4>
                <div><label for="coin-200">2 €</label><input id="coin-200" type="text" /></div>
                <div><label for="coin-50">0.50 €</label><input id="coin-50" type="text" /></div>
                <div><label for="coin-100">1 €</label><input id="coin-100" type="text" /></div>
                <div><label for="coin-20">0.20 €</label><input id="coin-20" type="text" /></div>
                <div><label for="coin-5">0.05 €</label><input id="coin-5" type="text" /></div>
                <div><label for="coin-10">0.10 €</label><input id="coin-10" type="text" /></div>
                <div><label for="coin-2">0.02 €</label><input id="coin-2" type="text" /></div>
                <div><label for="coin-1">0.01 €</label><input id="coin-1" type="text" /></div>
                <div><label for="coin-other">Other:</label><input id="coin-other" type="text" /></div>
            </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="resetInput">{% trans "Clear" %}</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="useResult">{% trans "Use result:" %}<span id="calculatorResult">0.00</span></button>
      </div>
    </div>
  </div>
</div>
