{% extends "backoffice/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}


{% block stylesheets %}
    {% if not session.end %}
        <style>
            .end-column {display: None}
        </style>
    {% endif %}
	<link rel="stylesheet" type="text/css" href="{% static "shared/css/typeaheadjs.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "backoffice/css/sessionform.css" %}">
{% endblock %}

{% block headline %}
    {% trans "Session Report" %} #{{session.pk}}
{% endblock %}


{% block content %}
<form method="post" action="">
    {% csrf_token %}

    <h4> {{ session.cashdesk }}, {% trans "Session ID" %} {{ session.pk }}, {{ session.user.firstname }} {{ session.user.lastname }}</h4>
    {% language "de" %}
    <h4> <b>{% trans "Start:" %}</b> {{ session.start }} </h4>
    {% endlanguage %}
    <h4>
        {{ form.backoffice_user|as_crispy_field }}
    </h4>
    <h4{% if session.user %} class="d-none"{% endif %}>
        {{ form.user|as_crispy_field }}
    </h4>

    {% if formset %}
        {{ formset.management_form|crispy  }}
    {% endif %}
    <table class="table" id="end-sessions-table">
        <thead><tr>
        <th>{% trans "Product" %}</th>
        <th>{% trans "Initial" %}</th>
        <th>{% trans "Sales" %}</th>
        <th class="end-column">{% trans "Final" %}</th>
        <th>{% trans "Result" %}</th>
        <th>{% trans "Discrepancy" %}</th>
        </tr></thead>
        <tbody>
            <tr id="cash">
                <td>
                    {% trans "Cash" %}
                    <div class="d-none">{{ form.cashdesk }}</div>
                </td>
                <td class="before-value">{{ cash.initial }}</td>
                <td class="transaction-value">{{ cash.transactions }}</td>
                <td class="end-column">{{ session.cash_after }}</td>
                <td>{{ form.cash_before|as_crispy_field }}
                </td>
                <td class="after-value danger"></td>
            </tr>
            {% if formset %}
                {% for form in formset %}
                {% with counter=forloop.counter0 product=products.counter %}
                    <tr>
                        <td>
                            {{ form.product_label.item }}
                            <div class="hide">{{ form.item }}</div>
                        </td>
                        <td class="before-value"> {{ form.product_label.movements }} </td>
                        <td class="transaction-value"> {{ form.product_label.transactions }} </td>
                        <td class="end-column"> {{ form.product_label.final_movements }} </td>
                        {{ form.amount|as_crispy_field }}
                        <td class="after-value danger"></td>
                    </tr>
                {% endwith %}
                {% empty %}
                    <tr>
                        <th colspan="42" class="empty-row active">
                            {% trans "This session did not contain any products." %}
                        </th>
                    <tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <div class="form-actions">
        <input type="submit" name="submit" value="{% trans "Create report" %}" class="btn btn-primary btn-block" id="submit-save">
    </div>
</form>

    {% if session.get_product_sales %}
    <h3 class="show-hide-heading">{% trans "Details" %}</h3>

    <ul>
    {% for stat in session.get_product_sales %}
        <li>
            {{ stat.product.name }} ({{ stat.product.price }} €)
            <ul>
                <li>{% trans "Sales" %}: {{ stat.sales }}</li>
                <li>{% trans "Presales" %}: {{ stat.presales }}</li>
                <li>{% trans "Reversals" %}: {{ stat.reversals }}</li>
            </ul>
        </li>
    {% endfor %}
    </ul>
    {% endif %}

{% include "backoffice/calculator.html" %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        var backoffice_users = [ {% for user in backoffice_users %} '{{ user }}', {% endfor %} ];
        var already_ended = {% if session.end %}true{% else %}false{% endif %};
        var carriers = [ {% for carrier in carriers %} '{{ carrier }}', {% endfor %} ];
    </script>
    <script type="text/javascript" src="{% static "shared/js/typeahead.bundle.min.js" %}"></script>
    <script type="text/javascript" src="{% static "backoffice/js/sessionform.js" %}"></script>
    <script type="text/javascript" src="{% static "backoffice/js/end_session.js" %}"></script>
    <script src="{% static "backoffice/js/calculator.js" %}"></script>
{% endblock %}
