{% extends "backoffice/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}


{% block stylesheets %}
    {% if not session.end %}
        <style>
            .end-column {display: None}
        </style>
    {% endif %}
	<link rel="stylesheet" type="text/css" href="{% static "shared/css/typeaheadjs.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "backoffice/css/sessionform.css" %}">
{% endblock %}

{% block headline %}
    {% trans "Session Report" %} #{{session.pk}}
{% endblock %}


{% block content %}
<form method="post">
    {% csrf_token %}

    <h4> {{ session.cashdesk }}, {% trans "Session ID" %} {{ session.pk }}, {{ session.user.firstname }} {{ session.user.lastname }}</h4>
    {% language "de" %}
    <h4> <b>{% trans "Start:" %}:</b> {{ session.start }} </h4>
    {% endlanguage %}
    <h4>
        {{ form.backoffice_user|as_crispy_field }}
    </h4>

    <table class="table" id="end-sessions-table">
	<thead>
        <th>{% trans "Product" %}</th>
        <th>{% trans "Initial" %}</th>
        <th>{% trans "Sales" %}</th>
        <th class="end-column">{% trans "Final" %}</th>
        <th>{% trans "Result" %}</th>
        <th>{% trans "Discrepancy" %}</th>
	</thead>
        <tbody>
            <tr id="cash">
                <td>
                    {% trans "Cash" %}
                    <div class="hide">{{ form.user }} {{ form.cashdesk }}</div>
                </td>
                <td class="before-value">{{ cash.initial }}</td>
                <td class="transaction-value">{{ cash.transactions }}</td>
                <td class="end-column">{{ session.cash_after }}</td>
                <td>{{ form.cash_before|as_crispy_field }}</td>
                <td class="after-value danger"></td>
            </tr>
            {{ formset.management_form|crispy  }}
            {% for form in formset %}
            {% with counter=forloop.counter0 product=products.counter %}
                <tr>
                    <th>
                        {{ form.product_label.item }}
                        <div class="hide">{{ form.item }}</div>
                    </th>
                    <th class="before-value"> {{ form.product_label.movements }} </th>
                    <th class="transaction-value"> {{ form.product_label.transactions }} </th>
                    <th class="end-column"> {{ form.product_label.final_movements }} </th>
                    <th > {{ form.amount|as_crispy_field }} </th>
                    <th class="after-value danger"></th>
                </tr>
            {% endwith %}
            {% empty %}
                <tr>
                    <th colspan="42" class="empty-row active">
                        {% trans "This session did not contain any products." %}
                    </th>
                <tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="form-actions">
        <input type="submit" name="submit" value="{% trans "Create report" %}" class="btn btn-primary btn-block" id="submit-save">
    </div>
<form>

    <h3 class="show-hide-heading">{% trans "Details" %}</h3>

{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        var backoffice_users = [ {% for user in backoffice_users %} '{{ user }}', {% endfor %} ];
        var already_ended = {% if session.end %}true{% else %}false{% endif %};
    </script>
    <script type="text/javascript" src="{% static "shared/js/typeahead.bundle.min.js" %}"></script>
    <script type="text/javascript" src="{% static "backoffice/js/end_session.js" %}"></script>
{% endblock %}
