{% extends 'backoffice/base.html' %}
{% load static %}
{% load i18n %}

{% block page_override %} full-width{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{% static "shared/css/typeaheadjs.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "backoffice/css/sessionform.css" %}">
{% endblock %}

{% block content %}


<form method="post">
    {% csrf_token %}
    <h2>
	{% trans "Balance records" %}
    </h2>
    <div id="balance-form">
	<div class="card balance-card">
	    <div class="card-header">
		{% trans "Bills (machine-counted)" %}
	    </div>
	    <div class="card-body">
		{{ formsets.bills_automated.as_p }}
	    </div>
	</div>
	<div class="card balance-card">
	    <div class="card-header">
		{% trans "Bills (bundles)" %}
	    </div>
	    <div class="card-body">
		{{ formsets.bills_bulk.as_p }}
	    </div>
	</div>
	<div class="card balance-card">
	    <div class="card-header">
		{% trans "Bills (manually)" %}
	    </div>
	    <div class="card-body">
		{{ formsets.bills_manually.as_p }}
	    </div>
	</div>
	<div class="card balance-card">
	    <div class="card-header">
		{% trans "Coins (machine-counted)" %}
	    </div>
	    <div class="card-body">
		{{ formsets.coins_automated.as_p }}
	    </div>
	</div>
	<div class="card balance-card">
	    <div class="card-header">
		{% trans "Coins (rolls)" %}
	    </div>
	    <div class="card-body">
		{{ formsets.coins_bulk.as_p }}
	    </div>
	</div>
    </div>
    <div class="submit-row">
	<div id="balance-expected" data-value="{{ balance }}">{% trans "Expected:" %} {{ balance }} €</div>
	<div id="balance-current">{% trans "Actual:" %} <span id="calculator-result"></span> €</div>
	<button type="submit" class="btn btn-primary">{% trans "Irreversibly balance records" %}</button>
    </div>
</form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var backoffice_users = [ {% for user in backoffice_users %} '{{ user }}', {% endfor %} ];
    </script>

    <script type="text/javascript" src="{% static "backoffice/js/calculator_balance.js" %}"></script>
{% endblock %}
