{% extends 'backoffice/base.html' %}
{% load i18n %}

{% block content %}
<a href="{% url "backoffice:new-record" %}" class="btn btn-primary pull-right">{% trans "New record" %}</a>
<table class="table" id="active-sessions-table">
    <thead>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Entity" %}</th>
        <th>{% trans "User" %}</th>
        <th>{% trans "Carrier" %}</th>
        <th>{% trans "Inflow" %}</th>
        <th>{% trans "Outflow" %}</th>
        <th>{% trans "Saldo" %}</th>
        <th></th>
    </thead>
    <tbody>
    {% language "de" %}
        {% for record in records %}
            <tr>
                <td>
                    {% if record.datetime %}
                        {{ record.datetime|date:"Y-m-d H:i:s" }}
                    {% else %}
                        {{ record.end|date:"Y-m-d H:i:s" }}
                    {% endif %}
                </td>
                <td>
                    {% if record.entity %}
                        {{ record.entity }}
                    {% else %}
                        {% trans "Cashdesk session" %} #{{ record.pk}}
                    {% endif %}
                </td>
                <td>
                    {% if record.backoffice_user %}
                        {{ record.backoffice_user }}
                    {% else %}
                        {{ record.backoffice_user_after }}
                    {% endif %}
                </td>
                <td>
                    {% if record.carrier %}
                        {{ record.carrier }}
                    {% elif record.backoffice_user_after %}
                        {{ record.user.get_full_name }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if record.datetime and record.type == 'inflow' %}
                        {{ record.amount }}
                    {% elif record.end and record.amount >= 0 %}
                        {{ record.amount }}
                    {% endif %}
                </td>
                <td>
                    {% if record.type == 'outflow' or record.amount < 0 %}
                        {{ record.amount }}
                    {% endif %}
                </td>
                <td>
                    {{ record.running_total }}
                </td>
                <td>
                    {% if record.datetime %}
                        <a href="{% url "backoffice:record-detail" pk=record.pk %}" title="{% trans "Details" %}">
                            <span class="fa fa-2x fa-fw fa-pencil" aria-hidden="true"></span>
                        </a>
                        <a href="{% url "backoffice:record-print" pk=record.pk %}" title="{% trans "Print" %}">
                            <span class="fa fa-2x fa-fw fa-print" aria-hidden="true"></span>
                        </a>
                    {% else %}
                        <a href="{% url "backoffice:session-detail" pk=record.pk %}" title="{% trans "Details" %}">
                            <span class="fa fa-2x fa-fw fa-eye" aria-hidden="true"></span>
                        </a>
                        <a href="{% url "backoffice:end-session" pk=record.pk %}" title="{% trans "Edit" %}">
                            <span class="fa fa-2x fa-fw fa-pencil" aria-hidden="true"></span>
                        </a>
                        <a href="{% url "backoffice:session-report" pk=record.pk %}" title="{% trans "Report" %}">
                            <span class="fa fa-2x fa-fw fa-print" aria-hidden="true"></span>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <th colspan="42" class="empty-row active">
                    {% trans "No records yet, get going!" %}
                </th>
            <tr>
        {% endfor %}
        {% endlanguage %}
    </tbody>
</table>

{% endblock %}
