{% extends 'backoffice/base.html' %}
{% load i18n %}
{% load static %}
{% block scripts %}
    <script type="text/javascript" src="{% static "backoffice/js/record_list.js" %}"></script>
{% endblock %}

{% block page_override %} full-width{% endblock %}
{% block content %}
<div class="action-row">
    <a class="btn btn-lg btn-outline-info" href="{% url "backoffice:new-record" %}">
        {% trans "New record" %}
    </a>
    <a class="btn btn-lg btn-outline-info" href="{% url "backoffice:new-session" %}">
        {% trans "New session" %}
    </a>
    <a class="btn btn-lg btn-outline-info" href="{% url "backoffice:record-balance" %}">
        {% trans "Balance records" %}
    </a>
</div>
<table class="table table-hover" id="active-sessions-table">
    <thead>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Entity" %}</th>
        <th>{% trans "User" %}</th>
        <th>{% trans "Carrier" %}</th>
        <th>{% trans "Inflow" %}</th>
        <th>{% trans "Outflow" %}</th>
        <th>{% trans "Saldo" %}</th>
        <th></th>
    </thead>
    <tbody>
    {% language "de" %}
        {% for record in records %}
        <tr{% if record.cash_movement %} data-session="{{ record.cash_movement.session.pk }}"{% endif %}>
                <td>
                    {{ record.datetime|date:"Y-m-d H:i:s" }}
                </td>
                <td>
                    {% if record.cash_movement %}<a href="{% url "backoffice:session-detail" pk=record.cash_movement.session.pk %}">
                        {{ record.named_entity }}
                    </a>
                    {% else %}
                    {{ record.named_entity }}
                    {% endif %}
                </td>
                <td>
                    {% if record.backoffice_user %}
                        {{ record.backoffice_user }}
                    {% else %}
                        {{ record.backoffice_user_after }}
                    {% endif %}
                </td>
                <td>
                    {% if record.named_carrier %}
                        {{ record.named_carrier }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if record.type == 'inflow' %}
                        {{ record.amount|floatformat:2 }}
                    {% endif %}
                </td>
                <td>
                    {% if record.type == 'outflow' %}
                        {{ record.amount|floatformat:2 }}
                    {% endif %}
                </td>
                <td>
                    {{ record.running_total|floatformat:2 }}
                </td>
                <td class="d-flex">
                    <a href="{% url "backoffice:record-detail" pk=record.pk %}" title="{% trans "Details" %}">
                        <span class="fa fa-2x fa-fw fa-pencil" aria-hidden="true"></span>
                    </a>
                    <a href="{% url "backoffice:record-print" pk=record.pk %}" title="{% trans "Print" %}">
                        <span class="fa fa-2x fa-fw fa-print" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <th colspan="42" class="empty-row active">
                    {% trans "No records yet, get going!" %}
                </th>
            <tr>
        {% endfor %}
        {% endlanguage %}
    </tbody>
</table>

{% endblock %}
