{% extends 'backoffice/base.html' %}
{% load i18n %}

{% block content %}
<div class="action-row">
    <a class="btn btn-lg btn-outline-info" href="{% url "backoffice:new-record" %}">
        {% trans "New record" %}
    </a>
    <a class="btn btn-lg btn-outline-info" href="{% url "backoffice:new-session" %}">
        {% trans "New session" %}
    </a>
    <a class="btn btn-lg btn-outline-info" href="{% url "backoffice:record-balance" %}">
        {% trans "Balance records" %}
    </a>
</div>
<table class="table table-striped table-hover" id="active-sessions-table">
    <thead>
        <th>{% trans "Cashdesk" %}</th>
        <th>{% trans "Angel" %}</th>
        <th>{% trans "Duration" %}</th>
        <th>{% trans "Products sold" %}</th>
        <th>{% trans "Current items" %}</th>
        <th></th>
    </thead>
    <tbody>
        {% language "de" %}
            {% for cashdesk in cashdesks %}
                {% if cashdesk.get_active_sessions %}
                {% for session in cashdesk.get_active_sessions %}
                <tr{% if not session.is_latest_session %} class="success"{% endif %}>
                    <td><strong>{{ session.cashdesk }}</strong></td>
                    <td> {{ session.user }} </td>
                    <td>seit {{ session.start|timesince }} </td>
                    <td>
                        <ul>
                        {% for product in session.get_current_items %}
                            <li>{{ product.item }}: {{ product.transactions }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for i in session.get_current_items %}
                                <li>{{ i.item }}: {{ i.total }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                     <td class="session-action-column">
                        <a href="{% url "backoffice:session-detail" pk=session.pk %}" title="{% trans "Details" %}">
                            <span class="fa fa-eye fa-fw fa-2x" aria-hidden="true"></span>
                        </a>
                        <a href="{% url "backoffice:resupply-session" pk=session.pk %}" title="{% trans "Resupply" %}">
                                <span class="fa fa-plus fa-fw fa-2x" aria-hidden="true"></span>
                        </a>
                        <a href="{% url "backoffice:move-session" pk=session.pk %}" title="{% trans "Move" %}">
                            <span class="fa fa-share fa-fw fa-2x" aria-hidden="true"></span>
                        </a>
                        <a href="{% url "backoffice:end-session" pk=session.pk %}" title="{% trans "End" %}">
                        <span class="fa fa-power-off fa-fw fa-2x" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="42" class="empty-row active">
                        {{ cashdesk }}
                        <a href="{% url "backoffice:new-session" %}?desk={{ cashdesk.pk }}">{% trans "initialization" %}.</a>
                    </td>
                </tr>
            {% endif %}
        {% empty %}
            <tr>
                <td colspan="42" class="empty-row active">
                    {% trans "No sessions yet, get going!" %}
                </td>
            <tr>
        {% endfor %}
        {% endlanguage %}
        </tbody>
</table>

{% endblock %}
