{% extends 'backoffice/base.html' %}
{% load i18n %}

{% block headline %}{% trans "Item List" %}{% endblock %}

{% block content %}

{% if product_count == 0 %}
    <div class="alert alert-danger">
        {% url "backoffice:wizard-import" as href %}
        {% blocktrans trimmed with href=href %}
        You cannot create any items because you haven't configured any products yet!
        Go <a href="{{ href }}">here</a> to import presale data.
        {% endblocktrans %}
    </div>
{% else %}
    <a class="btn btn-info btn-xs" href="{% url "backoffice:wizard-items-create" %}">
        {% trans "Add an Item" %}
    </a>
{% endif %}

<ul>
    {% for item in object_list %}
        <li>
            {{ item.name }}
            <a href="{% url "backoffice:wizard-items-edit" pk=item.pk %}" class="btn btn-info btn-xs">
                {% trans "Edit item" %}
            </a>
        </li>
    {% endfor %}

</ul>

{% endblock %}
