body {
    font-family: 'opensans', 'Open Sans', Frutiger, 'Frutiger Linotype', 'Segoe UI', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}
body.login, body.error {
    background: #eee;
}

.panel-login {
    width: 400px;
    margin: 60px auto 0 auto;
}

.error-page {
    width: 400px;
    margin: 60px auto 0 auto;
    text-align: center;
}
.error-page h2 {
    font-size: 30px;
}
.error-page .glyphicon {
    font-size: 200px;
}
/* Until crispy-forms master has merged PR #545, we need to correct this here. */
tbody th {
    font-weight: normal;
}
#active-sessions-table .empty-row {
    text-align: center;
}
#active-sessions-table .session-action-column .glyphicon {
    margin-left: 1em;
}
