.asteriskField {
    display: none;
}

/* disable input number spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

.backoffice-content form {
}

.disabled-inputs .textinput::-moz-placeholder {
    color: #333;
}
/*#session-items_table::after {
    content: 'x';
}
#div_id_data-cash_before div::after {
    content: '€';
}*/
