{% load staticfiles %}
{% load solo_tags %}
{% get_solo 'core.EventSettings' as settings %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>c6sh {% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static "shared/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "shared/css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "shared/fonts/fonts.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "backoffice/css/c6sh.css" %}">
    {% block stylesheets %}
    {% endblock %}

</head>
<body class="">

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url "backoffice:main" %}">Hinterzimmer</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          {% if user.is_authenticated %}
			  <ul class="nav navbar-nav">
                <li><a href="{% url "backoffice:new-session" %}">Kasse einzählen</a></li>
                <li><a href="{% url "backoffice:session-list" %}">Sessions</a></li>
                <li><a href="{% url "backoffice:report-list" %}">Reports</a></li>
			  </ul>
			  <ul class="nav navbar-nav navbar-right">
                  <li><a href="{% url "backoffice:create-user" %}"><span class="glyphicon glyphicon-plus-sign"></span> User</a></li>
                  <li><a href="{% url "backoffice:logout" %}"><span class="glyphicon glyphicon-log-out"></span>{{ user }}</a></li>

                  {% if user.is_superuser %}
                    {% if not settings.initialized %}
                        <li><a href="{% url "backoffice:wizard-settings" %}"><span class="text-danger glyphicon glyphicon-alert"></span></a></li>
                    {% else %}
                        <li><a href="{% url "backoffice:wizard-settings" %}"><span class="glyphicon glyphicon-wrench"></span></a></li>
                    {% endif %}
                  {% endif %}

          {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

      <div class="backoffice-main">
        <h1>{% block headline %}{% endblock %}</h1>
    	<div class="backoffice-content">
			<p>
			{% block content %}
    		{% endblock %}
			</p>
		</div>
      </div>

    </div>


    <script type="text/javascript" src="{% static "shared/js/jquery.min.js" %}"></script>
    {% block scripts %}
    {% endblock %}
    
</body>
</html>
