{% extends "backoffice/base.html" %}

{% block content %}

<table class="table" id="active-sessions-table">
	<thead>
		<th>Produkt</th>
		<th>eingezählt</th>
		<th>Umsatz</th>
		<th>Endstand</th>
		<th>Differenz</th>
	</thead>
	<tbody>
        <tr>
            <td>Bargeld</td>
            <td>{{ cash.initial }}</td>
            <td>{{ cash.transactions }}</td>
            <td></td>
            <td></td>
        </tr>
		{% for product in products %}
            <tr>
                <th> {{ product.product }} </th>
                <th> {{ product.initial }} </th>
                <th> {{ product.transactions }}</th>
                <th></th>
                <th></th>
            </tr>
        {% empty %}
            <tr>
                <th colspan="42" class="empty-row active">
                    Die Session enthielt keine Produkte.
                </th>
            <tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
