{% extends "backoffice/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}


{% block stylesheets %}
    {% if not session.end %}
        <style>
            .end-column {display: None}
        </style>
    {% endif %}
{% endblock %}

{% block headline %}
Kassenbericht #{{session.pk}}
{% endblock %}


{% block content %}
<h4> {{ session.cashdesk }}, Session-Nr. {{ session.pk }}, {{ session.user.firstname }} {{ session.user.lastname }}</h4>
<h4>
    Hinterzimmer-Engel: {{ form.backoffice_user.value }}
    <a class="btn btn-default btn-xs" id="switch-user" href="{% url "backoffice:switch-user" %}?next={{ request.get_full_path }}"> Switch user </a>
</h4>
{% language "de" %}
<h4> Beginn: {{ session.start }} </h4>
{% endlanguage %}

<form method="post">
    <table class="table" id="end-sessions-table">
	<thead>
		<th>Produkt</th>
		<th>eingezählt</th>
		<th>Umsatz</th>
		<th class="end-column">Endstand</th>
        <th>Abschluss</th>
		<th>Differenz</th>
	</thead>
		{% csrf_token %}
        <tbody>
            <tr id="cash">
                <td>
                    Bargeld
                    <div class="hide">{{ form.user }} {{ form.cashdesk }}</div>
                </td>
                <td class="before-value">{{ cash.initial }}</td>
                <td class="transaction-value">{{ cash.transactions }}</td>
                <td class="end-column">{{ session.cash_after }}</td>
                <td>{{ form.cash_before|as_crispy_field }}</td>
                <td class="after-value danger"></td>
            </tr>
            {{ formset.management_form|crispy  }}
            {% for form in formset %}
            {% with counter=forloop.counter0 product=products.counter %}
                <tr>
                    <th>
                        {{ form.product_label.item }}
                        <div class="hide">{{ form.item }}</div>
                    </th>
                    <th class="before-value"> {{ form.product_label.movements }} </th>
                    <th class="transaction-value"> {{ form.product_label.transactions }} </th>
                    <th class="end-column"> {{ form.product_label.final_movements }} </th>
                    <th > {{ form.amount|as_crispy_field }} </th>
                    <th class="after-value danger"></th>
                </tr>
            {% endwith %}
            {% empty %}
                <tr>
                    <th colspan="42" class="empty-row active">
                        Die Session enthielt keine Produkte.
                    </th>
                <tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="form-actions">
        <input type="submit" name="submit" value="Auszählung abschließen" class="btn btn-primary btn-block" id="submit-save">
    </div>
<form>

<h3 class="show-hide-heading">Details</h3>
<div class="show-hide-div" style="display: none">
	<h4 class="show-hide-heading">Presale-Tickets</h4>
	<div class="show-hide-div" style="display: none">
	</div>
	<h4 class="show-hide-heading">Abendkasse</h4>
	<div class="show-hide-div" style="display: none">
	</div>
	<h4 class="show-hide-heading">Stornos</h4>
	<div class="show-hide-div" style="display: none">
	</div>
	<h4 class="show-hide-heading">Kassenzugriffe</h4>
	<div class="show-hide-div" style="display: none">
	</div>
</div>

{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static "backoffice/js/end_session.js" %}"></script>
{% endblock %}
