{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>c6sh</title>
    <link rel="stylesheet" type="text/css" href="{% static "shared/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "shared/css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "shared/css/typeaheadjs.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "shared/fonts/fonts.css" %}">
</head>
<body class="">

    Hi there.

<script type="text/javascript" src="{% static "shared/js/jquery.min.js" %}"></script>
</body>
</html>
