{% extends 'backoffice/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{% static "shared/css/typeaheadjs.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "backoffice/css/sessionform.css" %}">
{% endblock %}


{% block content %}

<div class="col-md-2"></div>
<div class="col-md-8">
	<input type="submit" value="Add More" id="add_more" style="display: None">

	<form method="post" action="">
	{% language "de" %}

		{% csrf_token %}
        <div class="col-md-12">
            {{ form.cashdesk|as_crispy_field }}
            {{ form.user|as_crispy_field }}
        </div>
        <div class="col-md-9">
            {{ form.backoffice_user|as_crispy_field }}
        </div>
        <div class="col-md-3">
            <a class="btn btn-default btn-block" id="switch-user" href="{% url "backoffice:switch-user" %}?next={{ request.get_full_path }}">
                Switch user
            </a>
        </div>
        <div class="col-md-12">
            {{ form.cash_before|as_crispy_field }}
            <table>
                {% crispy formset helper %}
            </table>
        </div>
		<div class="form-actions col-md-12">
			<input type="submit" name="submit" value="Session anlegen" class="btn btn-primary btn-block" id="submit-save">
		</div>
	{% endlanguage %}
	</form>
</div>
<div class="col-md-2"></div>
{% endblock %}

{% block scripts %}
    <script type="text/html" id="item-template">
        <tr id="item-__prefix__">
            {% crispy formset.empty_form formset.form.helper %}
        </tr>
    </script>

    <script type="text/javascript">
        var user_list = {{ user_list|safe }};
    </script>

    <script type="text/javascript" src="{% static "shared/js/typeahead.bundle.min.js" %}"></script>
    <script type="text/javascript" src="{% static "backoffice/js/sessionform.js" %}"></script>
{% endblock %}
