{% extends "backoffice/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}


{% block stylesheets %}
    {% if not session.end %}
        <style>
            .end-column {display: None}
        </style>
    {% endif %}
	<link rel="stylesheet" type="text/css" href="{% static "shared/css/typeaheadjs.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "backoffice/css/sessionform.css" %}">
{% endblock %}

{% block headline %}
    {% trans "Reverse all transactions in session" %} #{{session.pk}}
{% endblock %}


{% block content %}
<form method="post">
    {% csrf_token %}

    <h4> {{ session.cashdesk }}, {% trans "Session ID" %} {{ session.pk }}, {{ session.user.firstname }} {{ session.user.lastname }}</h4>
    {% language "de" %}
    <h4> <b>{% trans "Start" %}:</b> {{ session.start }} </h4>
    {% endlanguage %}

    <div class="alert alert-warning">
        {% trans "Do you really want to reverse all transactions in this session?" %}
        <button type="submit" class="btn btn-danger pull-right">{% trans "Reverse" %}</button>
        <div style="clear: both"></div>
    </div>
</form>

{% endblock %}
