{% extends 'backoffice/base.html' %}
{% load i18n %}
{% load static %}

{% block stylesheets %}
    {% if not session.end %}
        <style>
            .end-column {display: None}
        </style>
    {% endif %}
{% endblock %}


{% block headline %}
    {% if not session.end %}
        <a href="{% url "backoffice:resupply-session" pk=session.pk %}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
        <a href="{% url "backoffice:move-session" pk=session.pk %}">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        </a>
        <a href="{% url "backoffice:end-session" pk=session.pk %}">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
        Laufende Session an {{ session.cashdesk }}
    {% else %}
        Abgeschlossene Session #{{ session.pk }}
    {% endif %}
{% endblock %}

{% block content %}
    <div id="qrcode"></div>
    <script type="text/json" id="qrcodedata">
    {
        "url": "{{ url }}",
        "key": "{{ session.api_token }}"
    }
    </script>

<h4> {{ session.cashdesk }}, Session-Nr. {{ session.pk }}, {{ session.user.firstname }} {{ session.user.lastname }} ({{ session.user.username }})</h4>
{% language "de" %}
{% if session.end %}
    <h4> Beginn: {{ session.start }} </h4>
    <h4> Ende: {{ session.ende }} </h4>
{% else %}
    <h4> Beginn: vor {{ session.start|timesince }} </h4>
{% endif %}


<h3 style="clear:both"> Verkaufte Produkte </h3>
<table class="table" id="session-detail-table">
	<thead>
		<th></th>
		<th>Verkäufe</th>
		<th>Presale</th>
		<th>Stornos</th>
    </thead>
    <tbody>
        {% for product in session.get_product_sales %}
            <tr>
                <th>{{ product.product.name }}</th>
                <th>{{ product.sales }}</th>
                <th>{{ product.presales }}</th>
                <th>{{ product.reversals }}</th>
            </tr>
        {% empty %}
        <tr><th></th><th></th><th></th><th></th></tr>
        {% endfor %}
    </tbody>
</table>

<h3> Items </h3>
<table class="table" id="session-detail-table">
	<thead>
		<th></th>
		<th>eingezählt</th>
		<th>Umsatz</th>
        <th class='end-column'>Abschluss</th>
    <tbody>
        <tr>
            <td> Bargeld </td>
            <td> {{ session.cash_before }} </td>
            <td> {{ session.get_cash_transaction_total }} </td>
            <td class='end-column'> {{ session.cash_after }} </td>
        </tr>
        {% for item in session.get_current_items %}
            <tr>
                <td> {{ item.item.name }} </td>
                <td> {{ item.movements }} </td>
                <td> {{ item.transactions }} </td>
                <td class='end-column'> {{ item.final_movements }} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endlanguage %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static "shared/js/qrcode.min.js" %}"></script>
    <script type="text/javascript" src="{% static "backoffice/js/session_detail.js" %}"></script>
{% endblock %}
