{% extends 'backoffice/base.html' %}
{% load i18n %}

{% block content %}

<table class="table" id="active-sessions-table">
	<thead>
		<th></th>
		<th>Engel</th>
		<th>Dauer</th>
		<th>Produkte</th>
		<th>Kasse</th>
	</thead>
	<tbody>
        {% language "de" %}
		{% for cashdesk in cashdesks %}
			{% for session in cashdesk.get_active_sessions %}
				<tr>
					<th class="session-action-column">
                        <a href="/backoffice/session/{{ session.pk }}/"</a>
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                        <a href="/backoffice/session/{{ session.pk }}/resupply/">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</a>
                        <a href="/backoffice/session/{{ session.pk }}/end/">
                        	<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
						</a>
                    </th>
					<th> {{ session.user }} </th>
					<th>seit {{ session.start|timesince }} </th>
					<th>
                        <ul>
                        {% for product in session.get_current_items %} 
                            <li>{{ product.item }}: {{ product.total }} erhalten</li>
                        {% endfor %} 
                        </ul>
                    </th>
                    {% with session_count=cashdesk.get_active_sessions|length %}
                        {% if session_count > 1 %}
                            {% if forloop.first %}
                                <th rowspan="{{ session_count }}">{{ session.cashdesk }}</th>
                            {% endif %}
                        {% else %}
                            <th>{{ session.cashdesk }}</th>
                        {% endif %}
                    {% endwith %}

				</tr>
            {% empty %}
                <tr>
                    <th colspan="42" class="empty-row active">
                        {{ cashdesk }} 
                        <a href="/backoffice/session/new/?desk={{ cashdesk.pk }}">einzählen.</a>
                    </th>
                <tr>
			{% endfor %}
		{% endfor %}
        {% endlanguage %}
	</tbody>
</table>

{% endblock %}
