{% extends 'backoffice/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block headline %} User-Rechte {% endblock %}

{% block content %}

<div class="user-list">
    {% for user in users %}
        <table class="table user-entry">
            <form class="form form-inline" method="post">
                {% csrf_token %}
                <tr>
                    <td>{{ user.username }}</td>
                    <input name="user" type="hidden" value="{{ user.id }}">
                    {% if user.is_troubleshooter %}
                        <td><button class="btn btn-danger" name="target" value="troubleshooter-n">Remove troubleshooter</button></td>
                    {% else %}
                        <td><td><button class="btn btn-success" name="target" value="troubleshooter-y">Make troubleshooter</button></td>
                    {% endif%}
                    {% if user.is_backoffice_user %}
                        <td><button class="btn btn-danger" name="target" value="backoffice-n">Remove backoffice user</button></td>
                    {% else %}
                        <td><button class="btn btn-success" name="target" value="backoffice-y">Make backoffice user</button></td>
                    {% endif%}
                    {% if user.is_superuser %}
                        <td><button class="btn btn-danger" name="target" value="superuser-n">Remove superuser</button></td>
                    {% else %}
                        <td><button class="btn btn-success" name="target" value="superuser-y">Make superuser</button></td>
                    {% endif%}
            </form>
        </table>
    {% endfor %}
</div>
{% endblock %}
