{% extends 'troubleshooter/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-body">
    <ul>
        {% for list_constraint in constraints %}
            <li>
                <a href="{% url "troubleshooter:constraint-detail" pk=list_constraint.pk %}">
                    {{ list_constraint }}
                </a>
            </li>
            <ul>
                <li>{% trans "Entries" %}: {{ list_constraint.entries.count }}</li>
                <li>{% trans "Products" %}:</li>
                <ul>
                    {% for through in list_constraint.product_constraints.all %}
                        <li>
                            {{ through.product }}
                            {% if through.price %}
                                {% blocktrans trimmed with price=through.price %}
                                    (at extra charge of {{ price }} €)
                                {% endblocktrans %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </ul>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
