{% extends 'troubleshooter/base.html' %}
{% load staticfiles %}

{% block content %}
<h1>Liste {{constraint}}</h1>
    <div class="panel-body">
        <ul>
            {% for through in constraint.product_constraints.all %}
                <li>
                    {{ through.product }}
                    {% if through.price %}
                        (gegen Aufpreis von {{ through.price }} €)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="panel panel-body">
    <form class="form form-inline" action="" method="get">
        <input type="text" class="form-control" name="filter">
        <button class="btn btn-primary form-control" type="submit">Filter</button>
    </form>
</div>
<div class="panel panel-body">
    <ul>
        {% for entry in entries %}
            <li>
                {{ entry.name }} ({{ entry.identifier }})
            </li>
        {% empty %}
            Keine Einträge gefunden.
            {% if restricted %}
                Diese Liste ist geschützt, deshalb werden Einträge nur nach Suchanfragen gezeigt (maximal 10 Ergebnisse).
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock content %}
