{% extends 'troubleshooter/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block headline %} {% trans "Information" %} "{{ information.name }}"{% endblock %}

{% block content %}

<div class="info-content">
    {{ information.content }}

</div>

<div class="row">
    <form class="form form-inline col-md-9" method="post">
    <b>{% trans "Print" %}</b>
        {% csrf_token %}
        {{ form.cashdesk }}
        {{ form.amount }}
        <button class="btn btn-primary" type="submit">{% trans "Print" %}</button>
    </form>
</div>

{% endblock %}

