{% extends 'troubleshooter/base.html' %}
{% load staticfiles %}

{% block headline %}Overview{% endblock %}

{% block content %}

<div class="transaction-filter-header col-md-12">
    <form class="form" action="" method="get">
        <div class="col-md-3">
            <select name="desk" class="form-control">
                <option value=""></option>
                {% for cashdesk in cashdesks %}
                    <option value="{{ cashdesk.pk }}" {% if request.GET.desk|add:0 == cashdesk.id %}selected="selected"{% endif %}>
                        {{ cashdesk.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <select name="type" class="form-control">
                <option value=""></option>
                {% for type in types %}
                    <option value="{{ type }}" {% if request.GET.type == type %}selected="selected"{% endif %}>
                        {{ type }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-block" type="submit">Filter</button>
        </div>
        <div class="col-md-3">
            <a class="btn btn-default btn-block" href="{{ request.path }}">Filter entfernen</a>
        </div>
    </form>
</div>

<div class="transaction-list table-responsive">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th></th>
                <th> Kasse </th>
                <th> Typ </th>
                <th> Betrag </th>
                <th> Transaktionsbetrag </th>
                <th> Bon-Nr. </th>
            </tr>
        </thead>
        <tbody>
            {% for transaction_position in transactions %}
                <tr>
                    <td class="session-action-column">
                        <a href="{% url "troubleshooter:transaction-detail" pk=transaction_position.transaction.pk %}" title="Details">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ request.path }}?desk={{ transaction_position.transaction.session.cashdesk.pk }}">
                            {{ transaction_position.transaction.session.cashdesk }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ request.path }}?type={{ transaction_position.type }}">
                            {% if transaction_position.type == 'sell' %}
                                <span class="text-primary">Verkauf</span>
                            {% elif transaction_position.type == 'redeem' %}
                                <span class="text-muted">Vorverkauf</span>
                            {% elif transaction_position.type == 'reverse' %}
                                <span class="text-danger">Storno</span>
                            {% endif %}
                        </a>
                    </td>
                    <td> {{ transaction_position.value }} </td>
                    <td> {{ transaction_position.transaction.value }} </td>
                    <td> {{ transaction_position.transaction.receipt_id }} </td>
            {% empty %}
                Keine passenden Transaktionen gefunden.
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
