{% extends 'troubleshooter/base.html' %}
{% load staticfiles %}

{% block headline %}Overview{% endblock %}

{% block content %}

{% if is_paginated %}
	<div class="pagination">
		{% if page_obj.has_previous %}
        <a href="{% url "backoffice:report-list" %}?page={{ page_obj.previous_page_number }}">
                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
            </a>
		{% endif %}
		<span class="page-current">
			Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}.
		</span>
		{% if page_obj.has_next %}
        <a href="{% url "backoffice:report-list" %}?page={{ page_obj.next_page_number }}">
                <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
			</a>
		{% endif %}
	</div>
{% endif %}

<div class="transaction-filter-header"></div>

<div class="transaction-list">
    <ul>
        {% for transaction in transactions %}
            <li>TransactionPosition an {{ transaction.transaction.session.cashdesk }}</li>
        {% empty %}
            Keine passenden Transaktionen gefunden.
        {% endfor %}
    </ul>
</div>
{% endblock content %}
