{% extends 'troubleshooter/base.html' %}
{% load staticfiles %}

{% block headline %}Overview{% endblock %}

{% block content %}

{% if is_paginated %}
	<div class="pagination">
		{% if page_obj.has_previous %}
        <a href="{% url "troubleshooter:transaction-list" %}?page={{ page_obj.previous_page_number }}">
                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
            </a>
		{% endif %}
		<span class="page-current">
			Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}.
		</span>
		{% if page_obj.has_next %}
        <a href="{% url "troubleshooter:transaction-list" %}?page={{ page_obj.next_page_number }}">
                <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
			</a>
		{% endif %}
	</div>
{% endif %}

<div class="transaction-filter-header"></div>

<div class="transaction-list table-responsive">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th></th>
                <th> Kasse </th>
                <th> Typ </th>
                <th> Betrag </th>
                <th> Transaktionsbetrag </th>
                <th> Bon-Nr. </th>
            </tr>
        </thead>
        <tbody>
            {% for transaction_position in transactions %}
                <tr>
                    <td class="session-action-column">
                        <a href="{% url "troubleshooter:transaction-detail" pk=transaction_position.transaction.pk %}" title="Details">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ request.path }}?desk={{ transaction_position.transaction.session.cashdesk.pk }}">
                            {{ transaction_position.transaction.session.cashdesk }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ request.path }}?type={{ transaction_position.type }}">
                            {% if transaction_position.type == 'sell' %}
                                <span class="text-primary">Verkauf</span>
                            {% elif transaction_position.type == 'redeem' %}
                                <span class="text-muted">Vorverkauf</span>
                            {% elif transaction_position.type == 'reverse' %}
                                <span class="text-danger">Storno</span>
                            {% endif %}
                        </a>
                    </td>
                    <td> {{ transaction_position.value }} </td>
                    <td> {{ transaction_position.transaction.value }} </td>
                    <td> {{ transaction_position.transaction.receipt_id }} </td>
            {% empty %}
                Keine passenden Transaktionen gefunden.
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
