@import "../../shared/scss/_variables";
$icon-font-path: "/static/postix/shared/fonts/";
@import "../../shared/scss/bootstrap/bootstrap";
@import "../../shared/fontawesome/scss/font-awesome";
@import "../../shared/scss/_postix";

table .fa {
    margin-right: 2px;
}
table ul {
    margin-left: 15px;
    padding: 0;
}
.action-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 24px 0;
    a {
        margin-left: 16px;
        background: $white;
    }
}
#active-sessions-table tr.coactive {
    background: rgba($black, .075);
}
