@import "../../shared/scss/_variables";
$icon-font-path: "/static/postix/shared/fonts/";
@import "../../shared/scss/bootstrap/bootstrap";
@import "../../shared/fontawesome/scss/font-awesome";
@import "../../shared/scss/_postix";

table .fa {
    margin-right: 2px;
}
table ul {
    margin-left: 15px;
    padding: 0;
}
.action-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 24px 0;
    a {
        margin-left: 16px;
        background: $white;
    }
}
#active-sessions-table tr.coactive {
    background: rgba($black, .075);
}
#end-sessions-table {
    label {display: none}
}
#calculatorTrigger {
    position: fixed;
    top: 80px;
    right: 30px;
}
#calculator .modal-dialog {
    max-width: 900px;
    .modal-body {
        display: flex;
        justify-content: space-around;
        h4 {
            text-align: center;
        }
        .column {
            width: 300px;
            display: flex;
            flex-direction: column;
            label {
                width: 50px;
                margin-right: 16px;
                text-align: right;
            }
        }
    }
    #calculatorResult {
        margin-left: 16px;
        &:after {
            content: " €"
        }
    }
}
