@import "../../shared/scss/_variables";
$icon-font-path: "/static/postix/shared/fonts/";
@import "../../shared/scss/_bootstrap";
@import "../../shared/scss/bootstrap/_theme";

body {
    font-family: 'opensans', 'Open Sans', Frutiger, 'Frutiger Linotype', 'Segoe UI', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}
body.login, body.error {
    background: #eee;
}

.navbar-inverse, .navbar-inverse .navbar-collapse {
    background: $brand-inverse;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: white;
}

.navbar-brand img {
    height: 24px;
    position: relative;
    top: -3px;
    display: inline;
}

.panel-login {
    width: 400px;
    margin: 60px auto 0 auto;
}

.error-page {
    width: 400px;
    margin: 60px auto 0 auto;
    text-align: center;
}
.error-page h2 {
    font-size: 30px;
}
.error-page .glyphicon {
    font-size: 200px;
}
.navbar .glyphicon-log-out {
    margin-right: 0.5em;
}
.glyphicon-plus-sign {
    margin-right: 0.1em;
}
/* Until crispy-forms master has merged PR #545, we need to correct this here. */
tbody th {
    font-weight: normal;
}
#active-sessions-table .empty-row {
    text-align: center;
}
#active-sessions-table .session-action-column .glyphicon {
    margin-left: 1.2rem;
    font-size: 1.8rem;
}
.session-action-column a:hover {
    text-decoration: none;
}
.glyphicon-print {
    color: #a22;
}
.glyphicon-pencil {
    color: #2a2;
}
.glyphicon-plus {
    color: #2a2;
}
.glyphicon-off {
    color: #a22;
}
.backoffice-content .glyphicon-log-out {
    color: #777;
}
h1 a:hover {
    text-decoration: none;
}
h1 .glyphicon {
    font-size: 2rem;
    margin-right: 1em
}
#end-sessions-table .control-label {
    display: none;
}
.pseudo-column {
    width: 20%;
    display: inline-block;
}
.pseudo-column button {
    width: 100%;
    margin-bottom: 0.5em;
}
#qrcode {
    float: right;
    width: 128px;
}
body {
    font-family: 'opensans', 'Open Sans', Frutiger, 'Frutiger Linotype', 'Segoe UI', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}
body.login, body.error {
    background: #eee;
}

.panel-login {
    width: 400px;
    margin: 60px auto 0 auto;
}

.error-page {
    width: 400px;
    margin: 60px auto 0 auto;
    text-align: center;
}
.error-page h2 {
    font-size: 30px;
}
.error-page .glyphicon {
    font-size: 200px;
}
.glyphicon-log-out {
    margin-right: 0.5em;
}
/* Until crispy-forms master has merged PR #545, we need to correct this here. */
tbody th {
    font-weight: normal;
}
.glyphicon-print {
    color: #a22;
}
.glyphicon-pencil {
    color: #2a2;
}
.glyphicon-plus {
    color: #2a2;
}
.glyphicon-off {
    color: #a22;
}
h1 a:hover {
    text-decoration: none;
}
h1 .glyphicon {
    font-size: 2rem;
    margin-right: 1em
}
.open-cashdesk h3 {
    margin-top: 0;
}
.open-cashdesk dl {
    margin-bottom: 0;
}
.ping {
    font-family: monospace;
}
.ping-form form {
    background-color: black;
    border-radius: 3px;
    color: white;
    font-family: monospace;
    margin-top: 1em;
}
.ping-log {
    background-color: black;
    border-radius: 3px;
    color: white;
    font-family: monospace;
    margin-top: 1em;
}
.ping-form form select {
    background-color: black;
    border: 1px solid grey;
    margin: 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.ping-form .btn-ping {
    background-color: black;
    border: 1px solid grey;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.ping-form .btn-ping:hover {
    background-color: #0f0;
}
.info-content {
    margin: 3em;
    border: 1px solid grey;
    padding: 3em;
    width: 50%;
}
