{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>c6sh</title>
    <link rel="stylesheet" type="text/css" href="{% static "shared/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "shared/css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "shared/css/typeaheadjs.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "shared/fonts/fonts.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "desk/css/c6sh.css" %}">
</head>
<body class="">

<div id="main-container">
    <div id="left-side">
        <div id="product-view">
        </div>
        <div id="button-row">
            <button class="btn btn-danger" id="btn-supply">
                <span class="glyphicon glyphicon-log-out"></span>
                End session
            </button>
            <button class="btn btn-default" id="btn-supply">
                <span class="glyphicon glyphicon-pause"></span>
                Take a break
            </button>
            <button class="btn btn-default" id="btn-supply">
                <span class="glyphicon glyphicon-inbox"></span>
                Open drawer
            </button>
            <button class="btn btn-info" id="btn-supply">
                <span class="glyphicon glyphicon-bell"></span>
                Request supply
            </button>
        </div>
    </div>
    <div id="right-side">
        <div id="redeem-presale">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Redeem preordered ticket
                </div>
                <div class="panel-body">
                    <input type="text" id="preorder-input" class="typeahead form-control">
                </div>
            </div>
        </div>
        <div id="lower-right">
            <div class="panel panel-primary panel-sale">
                <div class="panel-heading">
                    Sell ticket
                    <button class="btn btn-sm btn-default pull-right" id="btn-clear">
                        clear
                    </button>
                </div>
                <div class="panel-body">
                    <div id="cart">
                    </div>
                    <div id="post-sale">
                        <div id="post-sale-total" class="total">
                            Gesamt:
                            <span>267.40</span>
                        </div>
                        <div id="post-sale-change" class="total">
                            Rückgeld:
                            <span>267.40</span>
                        </div>
                        <div id="post-sale-buttons">
                            <button class="btn btn-block btn-danger" id="btn-reverse">
                                <span class="glyphicon glyphicon-backward"></span>
                                Reverse
                            </button>
                            <button class="btn btn-block btn-primary" id="btn-reprint">
                                <span class="glyphicon glyphicon-duplicate"></span>
                                Reprint
                            </button>
                        </div>
                    </div>
                    <div id="checkout">
                        <div id="checkout-total" class="total">
                            Gesamt:
                            <span>267.40</span>
                        </div>
                        <button class="btn btn-block btn-success" id="btn-checkout">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            CHECKOUT
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-container">
    <div id="modal">
        <div class="panel panel-danger">
            <div class="panel-heading" id="model-title">
                Redeem preordered ticket
            </div>
            <div class="panel-body">
                <p id="model-text">
                    This ticket can only redeemed by a member of the list "CCC-Mitglieder".
                </p>
                <input type="text" id="model-input" class="form-control">

                <div id="modal-buttons">
                    <button class="btn btn-lg btn-danger" id="btn-cancel">
                        Cancel
                    </button>
                    <button class="btn btn-lg btn-success" id="btn-continue">
                        Continue
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static "shared/js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "shared/js/typeahead.bundle.min.js" %}"></script>
<script type="text/javascript" src="{% static "desk/js/c6sh.js" %}"></script>
</body>
</html>
