{% load staticfiles %}
{% load solo_tags %}
{% load i18n %}
{% load compress %}
{% get_solo 'core.EventSettings' as settings %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>postix {% block title %}{% endblock %}</title>

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static "shared/fonts/fonts.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "shared/css/core.css" %}">
    {% endcompress %}
    {% block area_stylesheets %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static "shared/img/favicon.png" %}">

</head>
<body><div id="wrapper">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% block area_url %}{% endblock %}">
                <img src="{% static "shared/img/icon_white.svg" %}">
                {% block area %}{% endblock %}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            {% if request.user.is_troubleshooter and request.user.is_backoffice_user %}
                <ul class="nav navbar-nav">
                </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_superuser %}
                    {% if not settings.initialized %}
                        <li><a href="{% url "backoffice:wizard-settings" %}"><span class="text-danger glyphicon glyphicon-alert"></span></a></li>
                    {% else %}
                        <li><a href="{% url "backoffice:wizard-settings" %}"><span class="glyphicon glyphicon-wrench"></span></a></li>
                    {% endif %}
                {% endif %}
                <li>
                    <a href="{% if request.user.is_backoffice_user %}{% url "backoffice:logout" %}{% else %}{% url "troubleshooter:logout" %}{% endif %}">
                        <span class="glyphicon glyphicon-log-out"></span>{{ user }}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        {% if not user.is_anonymous %}
        <nav class="nav flex-column sidebar">
            {% if user.is_backoffice_user or user.is_superuser %}
                <span class="nav-link">
                    <span class="fa fa-handshake-o"></span>
                    {% trans "Sessions" %}
                </span>
                    <a class="nav-link" href="{% url "backoffice:new-session" %}">
                        <span class="fa fa-handshake-o"></span>
                        <span class="fa fa-plus-circle"></span>
                        {% trans "New session" %}
                    </a>
                    <a class="nav-link" href="{% url "backoffice:session-list" %}">
                        <span class="fa fa-handshake-o"></span>
                        <span class="fa fa-list"></span>
                        {% trans "List of sessions" %}
                    </a>
                    <a class="nav-link" href="{% url "backoffice:report-list" %}">
                        <span class="fa fa-handshake-o"></span>
                        <span class="fa fa-book"></span>
                        {% trans "Reports" %}
                    </a>
                <span class="nav-link">
                    <span class="fa fa-users"></span>
                    {% trans "Users" %}
                </span>
                    <a class="nav-link" href="{% url "backoffice:create-user" %}">
                        <span class="fa fa-users"></span>
                        <span class="fa fa-plus-circle"></span>
                        {% trans "New user" %}
                    </a>
                    <a class="nav-link" href="{% url "backoffice:user-list" %}">
                        <span class="fa fa-users"></span>
                        <span class="fa fa-list"></span>
                        {% trans "User list" %}
                    </a>
                    {% if user.is_superuser %}
                    <a class="nav-link" href="{% url "backoffice:wizard-users" %}">
                        <span class="fa fa-users"></span>
                        <span class="fa fa-star-o"></span>
                        {% trans "Rights" %}
                    </a>
                    {% endif %}
            {% endif %}
            {% if user.is_troubleshooter or user.is_superuser %}
                {% if user.is_superuser or user.is_backoffice_user %}
                    <span class="nav-link">
                        <span class="fa fa-user-secret"></span>
                        {% trans "Troubleshooting" %}
                    </span>
                {% endif %}
                <a href="{% url "troubleshooter:main" %} "id="nav-sessions" class="nav-link{% if has_request %} has-request{% endif %}">
                    <span class="fa fa-user-secret"></span>
                    <span class="fa fa-user"></span>
                    {% trans "Current sessions" %}
                </a>
                <a class="nav-link" href="{% url "troubleshooter:transaction-list" %}">
                    <span class="fa fa-user-secret"></span>
                    <span class="fa fa-book"></span>
                    {% trans "Transactions" %}
                </a>
                <a class="nav-link" href="{% url "troubleshooter:constraint-list" %}">
                    <span class="fa fa-user-secret"></span>
                    <span class="fa fa-list"></span>
                    {% trans "Lists" %}
                </a>
                <a class="nav-link" href="{% url "troubleshooter:preorder-list" %}">
                    <span class="fa fa-user-secret"></span>
                    <span class="fa fa-shopping-cart"></span>
                    {% trans "Preorder" %}
                </a>
                <a class="nav-link" href="{% url "troubleshooter:ping" %}">
                    <span class="fa fa-user-secret"></span>
                    <span class="fa fa-terminal"></span>
                    {% trans "Ping" %}
                </a>
                <a class="nav-link" href="{% url "troubleshooter:information-list" %}">
                    <span class="fa fa-user-secret"></span>
                    <span class="fa fa-print"></span>
                    {% trans "Print" %}
                </a>
            {% endif %}
        </nav>
        {% endif %}

    <div class="container" id="page-content">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block area_content %}
        {% endblock %}

    <script type="text/javascript" src="{% static "shared/js/jquery.min.js" %}"></script>
    {% block area_scripts %}
    {% endblock %}

</div></body>
</html>
