{% extends "core/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load compress %}

{% block area_stylesheets %}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static "shared/fonts/fonts.css" %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static "troubleshooter/scss/postix.scss" %}">
    {% endcompress %}
    {% block stylesheets %}
    {% endblock %}
    {% block meta %}
    {% endblock %}
{% endblock %}

{% block area_url %}{% url "troubleshooter:main" %}{% endblock %}
{% block area %}{% trans "Troubleshooter" %}{% endblock %}



{% block area_content %}
    <div class="backoffice-main">
        <h1>{% block headline %}{% endblock %}</h1>
        <div class="backoffice-content">
            <p>
                {% block content %}
                {% endblock %}
            </p>
        </div>
    </div>
{% endblock %}

{% block area_scripts %}
    <script type="text/javascript" src="{% static "troubleshooter/js/requests.js" %}"></script>

    {% block scripts %}
    {% endblock %}
{% endblock %}
