{% extends 'troubleshooter/base.html' %}
{% load i18n %}
{% load static %}

{% block headline %}{% trans "Lists" %}{% endblock %}
{% block content %}

    <ul>
        {% for list_constraint in constraints %}
            <li>
                <a href="{% url "troubleshooter:constraint-detail" pk=list_constraint.pk %}">
                    {{ list_constraint }}
                </a>
                <ul>
                    <li>{% trans "Entries" %}: {{ list_constraint.entries.count }}</li>
                    <li>{% trans "Products" %}:
                        <ul>
                            {% for through in list_constraint.product_constraints.all %}
                                <li>
                                    {{ through.product }}
                                    {% if through.price %}
                                        {% blocktrans trimmed with price=through.price %}
                                            (at extra charge of {{ price }} €)
                                        {% endblocktrans %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
        {% empty %}
            {% trans "No list constraints can be displayed at the moment. Please call an administrator if you think this is wrong." %}
        {% endfor %}
    </ul>
{% endblock content %}
