{% extends "troubleshooter/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block headline %}<span class="ping">ping -c {{ pings.count }} end.queue</span>{% endblock %}

{% block content %}

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $('.ping-tooltip').tooltip(options)
</script>

<div class="ping-form">
    <form class="form form-inline col-md-9" method="post">
        {% csrf_token %}
        ping -c 1 -I
        {{ form.cashdesk }}
        end.queue
        <button class="btn btn-ping" type="submit">⏎</button>
    </form>
</div>

<div class="ping-log col-md-9">
    PING end.queue (172.23.23.1) 56(84) bytes of data.<br>
    {% language "en" %}
    {% for ping in pings %}
        {% if ping.ponged %}
            <span class="ping-tooltip" data-toggle="tooltip" data-placement="right" title="pong on {{ ping.ponged }}">
                20 bytes from end.queue: icmp_seq={{ ping.pk }} ttl=64 duration={{ ping.pinged|timesince:ping.ponged }}
            </span>
        {% else %}
            <span class="ping-tooltip" data-toggle="tooltip" data-placement="right" title="ping on {{ ping.pinged }}">
                20 bytes PENDING: icmp_seq={{ ping.pk }} sent={{ ping.pinged|timesince }} ago
            </span>
        {% endif %}
        <br>
    {% empty %}
        <span class="ping-tooltip" data-toggle="tooltip" data-placement="right" title="empty ping">
            ERROR: 0 bytes from end.queue: icmp_seq=-1 ttl=64 duration=∞
        </span>
    {% endfor %}
    {% endlanguage %}

</div>

{% if pings %}
    <div class="ping-log col-md-9">
        {% language "en" %}
        --- queue.end ping statistics ---<br>
        {{ pings.count }} packets transmitted, {{ ping_success }} received, {{ loss_percent }}% packet loss, time {{ pings.first.pinged|timesince:pings.last.pinged }}<br>
        rtt min/avg/max/mdev = {{ total_min }}/{{ total_avg }}/{{ total_max }}/{{ total_mdev }} minutes
        {% endlanguage %}
    </div>
{% endif %}
{% endblock %}
